.title {
    /* position: relative;
    left: 50%; */
    display: flex;
    justify-content: center;
}

.navbar {
    margin: 10px 10px 50px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.postWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    height: 100px;
    flex-wrap: wrap;
    margin: 40px;
}

.post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    height: 100%;
    background-color: lightskyblue;
    border-radius: 20px;
    min-width: 400px;
    max-width: fit-content;
}

.commentsWrapper {
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid blueviolet;
    border-radius: 15px;
    padding: 10px;
}

.commentsBody {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.comment {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.contactCard {
    position: relative;
    display: flex;
    align-items: flex-end;
    margin-bottom: 30px;
    border-radius: var(--rounded-large);
    aspect-ratio: 16 / 7;
    overflow: hidden;
}